body{
    background: url(./imgs/skyts4tombdrac.png) center fixed;
    background-size: cover;
}

.container{
    color: #D3D3D3;
    width: 60%;
    height: 400px;
    padding: 15px;
    background: linear-gradient(#8C534C,#483D8B);
    border-radius: 15px;
    box-shadow: 5px 5px #551A8B;
}

.container h3{
    color: #D3D3D3;
    font-size: 50px;
    text-shadow: 5px 5px #551A8B;
    font-family: 'Pirata One', cursive;
    text-align: center;
    padding: 10px;
}

.container p{
    color: #D3D3D3;
    font-size: 18px;
    text-align: justify;
}

.voltar{
    color: #D3D3D3;
    font-size: 20px;
    text-shadow: 3px 3px #551A8B;
    font-family: 'Pirata One', cursive;
    text-align: center;
}

.voltar:hover{
    font-size: 24px;
    letter-spacing: 2px;
    transition: 1.5s;
}